esenzionerestsrv/src/resources/WsdlChiusuraCert/ChiusuraEsenRed.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns2="http://ws.sanitxint.sanitx.csi.it/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ChiusuraEsenRed.central.services.auraws.aura.csi.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://ChiusuraEsenRed.central.services.auraws.aura.csi.it">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://ChiusuraEsenRed.central.services.auraws.aura.csi.it">
            <s:import namespace="http://ws.sanitxint.sanitx.csi.it/"/>
            <s:element name="ChiusuraEsenRed">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="codiceFiscaleChiamante" type="s:string"/>
                        <s:element minOccurs="0" name="codiceEsenzione" type="s:string"/>
                        <s:element minOccurs="0" name="dataInizioValidita" type="s:string"/>
                        <s:element minOccurs="0" name="codiceFiscaleAssistito" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ChiusuraEsenRedResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="ChiusuraEsenRedResult" type="s0:ChiusuraEsenRedRes"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ChiusuraEsenRedRes">
                <s:sequence>
                    <s:element minOccurs="0" name="header" type="s0:ChiusuraEsenRedHeader"/>
                    <s:element minOccurs="0" name="body" type="s0:ChiusuraEsenRedBody"/>
                    <s:element minOccurs="0" name="footer" type="s0:ChiusuraEsenRedFooter"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ChiusuraEsenRedHeader">
                <s:sequence>
                    <s:element minOccurs="0" name="codiceRitorno" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ChiusuraEsenRedBody">
                <s:sequence>
                    <s:element minOccurs="0" name="dataOperazioneRevoca" type="s:string"/>
                    <s:element minOccurs="0" name="dataFineValiditaOld" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ChiusuraEsenRedFooter">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="messages" nillable="true" type="ns2:messagesGetEsenredVO"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfmessagesGetEsenredVO">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="messagesGetEsenredVO" nillable="true" type="ns2:messagesGetEsenredVO"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
        <s:schema targetNamespace="http://ws.sanitxint.sanitx.csi.it/">
            <s:complexType name="messagesGetEsenredVO">
                <s:sequence>
                    <s:element minOccurs="0" name="codice" type="s:string"/>
                    <s:element minOccurs="0" name="descrizione" type="s:string"/>
                    <s:element minOccurs="0" name="note" type="s:string"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </types>
    <message name="ChiusuraEsenRedSoapIn">
        <part name="parameters" element="s0:ChiusuraEsenRed"/>
    </message>
    <message name="ChiusuraEsenRedSoapOut">
        <part name="parameters" element="s0:ChiusuraEsenRedResponse"/>
    </message>
    <portType name="ChiusuraEsenRedSoap">
        <operation name="ChiusuraEsenRed">
            <input message="s0:ChiusuraEsenRedSoapIn"/>
            <output message="s0:ChiusuraEsenRedSoapOut"/>
        </operation>
    </portType>
    <binding name="ChiusuraEsenRedSoap" type="s0:ChiusuraEsenRedSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="ChiusuraEsenRed">
            <soap:operation soapAction="http://ChiusuraEsenRed.central.services.auraws.aura.csi.it/AURA.WS.ChiusuraEsenRed.ChiusuraEsenRed" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ChiusuraEsenRed">
        <port name="ChiusuraEsenRedSoap" binding="s0:ChiusuraEsenRedSoap">
            <soap:address location="http://XYZ/sanitxens/AURA.WS.ChiusuraEsenRed.cls"/>
        </port>
    </service>
</definitions>